.navbar {
  margin-bottom: 0px;
  position: absolute;
  width: 100%;
  z-index: 999;
}

section {
  margin: 120px 0;
}

.jumbotron {
  background-color: aqua;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .flex-container {
    text-align: center;
  }
}